.product-quickview .custom-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


.social-icons{
    list-style: none;
    padding: 0;
    margin-top: 15px;
}
.social-icons li {
    margin-right: 5px;
    margin-left: 5px;
}